:root {
  --text: #04060a;
  --background: #f9fbfd;
  --primary: #8ab3f0;
  --secondary: #3375d8;
  --acent: #4088f3;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}
